@model DigitalPortfolio.Domain.ViewModel.User.LoginViewModel

@{
    ViewBag.Title = "Вход в аккаунт";
}

<body class="LoginImage">
    <div style="margin-left:400px; margin-top:400px;" class="logo2">
        <img src="~/logo2.png" />
    </div>
    <div class="background">
        <label style="margin-left:230px; margin-top:130px;">Вход</label>
        <form style="align-content:center;" asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="All"></div>
            <div>
                <input class="box" asp-for="Email" placeholder="Почта" type="text" />
            </div>
            <div>
                <input class="box" autocomplete="new-password" asp-for="Password" placeholder="пароль" type="text" />
            </div>
            <button class="button" type="submit">Войти</button>
        </form>
    </div>
</body>
