@model DigitalPortfolio.Domain.ViewModel.User.LoginViewModel

@{
	ViewBag.Title = "Вход в аккаунт";
}

<div>
    <form asp-controller="Account" asp-action="Login">
        <div asp-validation-summary="All"></div>
        <div>
            <input asp-for="Email" placeholder="Почта" type="text" />
        </div>
        <div>
            <input autocomplete="new-password" asp-for="Password" placeholder="пароль" type="text" />
        </div>
        <button type="submit">Войти</button>
    </form>
</div>
