@model List<DigitalPortfolio.Domain.Entity.Project>
@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="homePage">
        <h1 class="homeText">Цифровые истории вашего<br> успешного будущего</h1>
        <div id="images">

            <div class="about">
                <img src="~/homePicture1.jpg">
                Для фотографов
            </div>

            <div class="about">
                <img src="~/homePicture2.jpg">
                Для дизайнеров
            </div>

            <div class="about">
                <img src="~/homePicture3.jpg">
                Для художников
            </div>

        </div>
    </div>
}
else if (Model != null && Model.Count > 0)
{
    <div style="text-align:center">
        @foreach (var project in Model)
        {
            <div class="projects">
                <a asp-controller="Project" asp-action="Index" asp-route-projectId=@project.Id>
                    <img style="border:1px solid #000" width="320px" height="180px" src="~/projectAvatars/@project.Image" />
                </a>
                <label style="text-align:center;">@project.Name</label>
            </div>
        }
    </div>
}