@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}
<header>
    <img src="~/favicon.ico">
    <span class="logo">Myfolio</span>
    <nav>
        <img src="~/hand.ico">
        <a href="/ДобавитьСсылку">Главная</a>
        <img src="~/hand.ico">
        <a href="/ДобавитьСсылку">Добавить проект</a>
        <button class="searchButton">Поиск...</button>
        @if (!User.Identity.IsAuthenticated)
        {
            <form action="/Account/Login">
                <button class="loginButton">Вход</button>
            </form>
            <form action="/Account/Register">
                <button class="signupButton">Регистрация</button>
            </form>
        }
        else
        {
            <p class="fakeClass">@User.Identity.Name</p>
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input class="fakeClass" type="submit" value="Выход" />
            </form>
        }
    </nav>
</header>

<div class="homePage">
    <h1 class="homeText">Цифровые истории вашего<br> успешного будущего</h1>
    <div id="images">

        <div class="about">
            <img src="~/picture.jpg">
            Для фотографов
        </div>

        <div class="about">
            <img src="~/picture.jpg">
            Для дизайнеров
        </div>

        <div class="about">
            <img src="~/picture.jpg">
            Для художников
        </div>

    </div>
</div>
