@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}
<header>
    <img src="~/logo1.png" style="margin-top: 6px">
    <nav>
        <a href="/" style="margin-left: 40px">Главная</a>
        <a href="/ДобавитьСсылку">Добавить проект</a>
        <button class="searchButton">Поиск...</button>
        @if (!User.Identity.IsAuthenticated)
        {
            <form action="/Account/Login">
                <button class="loginButton">Вход</button>
            </form>
            <form action="/Account/Register">
                <button class="signupButton">Регистрация</button>
            </form>
        }
        else
        {
            <a href="/ДобавитьСсылку" style="margin-left: 200px">Мой профиль</a>
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input class="fakeClass signupButton" type="submit" value="Выход" />
            </form>
        }
    </nav>
</header>

<div class="homePage">
    <h1 class="homeText">Цифровые истории вашего<br> успешного будущего</h1>
    <div id="images">

        <div class="about">
            <img src="~/homePicture1.jpg">
            Для фотографов
        </div>

        <div class="about">
            <img src="~/homePicture2.jpg">
            Для дизайнеров
        </div>

        <div class="about">
            <img src="~/homePicture3.jpg">
            Для художников
        </div>

    </div>
</div>
