@model DigitalPortfolio.Domain.Entity.User;

<header>
    <img src="~/logo1.png" style="margin-top: 6px">
    <nav>
        <a href="/" style="margin-left: 40px">Главная</a>
        <a href="/Project/Add">Добавить проект</a>
        <button class="searchButton">Поиск...</button>
        @if (!User.Identity.IsAuthenticated)
        {
            <form action="/Account/Login">
                <button class="loginButton">Вход</button>
            </form>
            <form action="/Account/Register">
                <button class="signupButton">Регистрация</button>
            </form>
        }
        else
        {
            <a href="/Account" style="margin-left: 200px">Мой профиль</a>
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input class="fakeClass signupButton" type="submit" value="Выход" />
            </form>
        }
    </nav>
</header>

@{
    var name = Model.Name + " " + Model.Surname;
    <div>
        <div style="margin-top:50px; text-align:center;">
            @if (Model.Image != null)
            {
                <img src="~/avatars/@Model.Image" class="rounded-circle"  height="100px" width="100px" />
            }
            else
            {
                <img src="~/NoImage.png" height="100px" width="100px" />
            }
            <label>@name</label>
        </div>
        <img src="~/projectAvatars/@Model.Project.Image" width="960px" height="680" style="border:1px solid #000; margin-left:480px; margin-top:50px; margin-bottom:25px" />
        @{
            var images = Directory.GetFiles("wwwroot" + "\\" + Model.Project.Images);
            <div style="display:inline-block;">
                @foreach (var image in images)
                {
                    <img style="border:1px solid #000; margin-left:150px; margin-top:25px; margin-bottom:25px;" width="440px" height="220px" src="~/@image.Substring(8)" />
                }
            </div>
        }
        <div style="text-align:center">
            <textarea disabled="disabled" cols="120" rows="20" style="text-align:center; resize:none; background-color:white; border:none;">@Model.Project.Description.Trim()</textarea>
        </div>
    </div>
}